@import "compass/css3";

*{
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html, body{
  height: 100%;
  font: 14px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif,"微軟正黑體";
}

input.origin-input{
  background-color: white;
  border: 1px solid gray;
  text-align: center;
  margin: 0px;
  height: 24px;
  width: 48px;
}

form.login-container{
  background-color: rgba(255, 255, 255, 0.8);
  @include border-radius(10px);
}