@charset "UTF-8";
/* line 3, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/main.scss */
html, body {
  height: 100%;
  font: 14px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif,"微軟正黑體";
}

/* line 14, ../sass/main.scss */
input.origin-input {
  background-color: white;
  border: 1px solid gray;
  text-align: center;
  margin: 0px;
  height: 24px;
  width: 48px;
}

/* line 23, ../sass/main.scss */
form.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
